<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tag: {{tag.name}}</title>

</head>
<body>
<h1 id="Title">Tag: {{tag.name}}</h1>
{% for art in article%}
<article>
    <h4><a href="{% url 'article' art.slug%}"> {{art.title}}</a> </h4>
    <p>{{art.content}}</p>
    <img src="{{ art.image.img.url}}" alt="{{art.image.alt}}">
    <p> by {{ art.author.username }}</p>
    <div class="clear tags">
        <ul> {% for t in art.tags.all%}
        <li><a href="{% url 'tag' t.slug %}">{{ t.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

</article>
{% endfor %}

</body>
</html>